.title {
  font: var(--font-heading);
}

.listContainer {
  margin-top: 1rem;
}

.itemContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
